/***************************/
/* Common
/***************************/
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
html, body {
    height: 100%;
    max-width: 100%;
}
body {
    margin: 0;
    color: #666666;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #eaedef;
    line-height: 1.5em;
}
.banner {
    background: url('/images/bg-post.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 20vh;
    width: 100vw;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.banner-logo {
    width: 20vw;
    max-width: 200px;
    margin-top: calc(25vh - 100px);
}
.logo {
    position: absolute;
    top: 23px;
    width: 100%;
}
.logo img {
    width: 200px;
    display: block;
    margin: 0 auto;
}
h3 {
    color: #17263F;
    font-size: 100%;
    font: 'open sans condensed',  arial, clean, sans-serif;
    font-weight: 300;
}
h1, h2, h4, h5, h6 {
    color: #17263F;
    font: 'open sans condensed',  arial, clean, sans-serif;
    font-weight: 300;
    line-height: 1em;
}
h1 {
    padding: 0.5em 0;
    width: 100%;
    font-size: 2em;
    font-weight: 400;
}
h2 {
    margin-top: .5em;
    margin-bottom: .3em;
    width: 100%;
    font-size: 200%;
}
#contact h2{
    color: #17263F;
}
p {
    margin: 1em 0;
    font-weight: 300;
}
a {
    color: white;
    font-weight: 200%;
}
a:hover {
    color: white;
}
a:visited {
    color: white;
}
table {
    font-size: inherit;
    font-weight: 300;
}
.banner-logo img {
    max-width: 100px;
    margin: 0 auto;
}

/***************************/
/* Home
/***************************/
.container {
    position: relative;
    max-width: 960px;
    float: right;
    width: 100%;
}
.home {
    padding-top: 10vh;
    width: 80vw;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10vw;
    margin-right: 10vw;
}
.home-section {
    color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
    position: relative;
    margin: 10px;
}
.home-section-part {
    background-color: #17263F;
    margin-top: 10px;
    margin-bottom:10px;
}
.home-section-content {
    padding: 20px;
    text-align: left;
}
.home-section-content h2 {
    font-weight: 600;
    border-bottom: 2px solid white;
}
ul.posts {
    list-style-type: none;
    margin-bottom: 1.2em;
}
.mc-field-group {
    padding-left: 1em;
}
ul.posts li {
    line-height: 1.75em;
}
ul.posts span {
    font-family: "Source+Code+Pro", monospace;
    font-size: 80%;
    font-weight: 700;
    background-color: #EDF3F3;
    color: #D4CBAA;
    padding: .2em .5em .2em .5em;
    border-radius: 2px;
}

/***************************/
/* Site
/***************************/
.site {
    font-size: 110%;
    text-align: justify;
    max-width: 32em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    background-color: #B7C1C0;
    padding: 1.3em;
    border: 1px solid #A6A094;
}
.title {
    color: #a00;
    font-weight: bold;
    margin-bottom: 2em;
}
.site .title a {
    color: #a00;
    text-decoration: none;
}
.site .title a:hover {
    color: black;
}
.site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
}
.site .title a.extra:hover {
    color: black;
}
.site .meta {
    color: #aaa;
}
.site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
}
.site .footer .contact {
    float: left;
    margin-right: 3em;
}
.site .footer .contact a {
    color: #8085C1;
}
.site .footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
}
.site .footer .rss img {
    border: 0;
}

/***************************/
/* Posts
/***************************/

/* standard */
#post pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .4em;
}
#post ul, #post ol {
    margin-left: 1.35em;
}
#post code {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: 85%;
    padding: 0 .2em;
}
#post pre code {
    border: none;
}

/* terminal */
#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
}
#post pre.terminal code {
    background-color: #333;
}
#related {
    margin-top: 2em;
}
#related h2 {
    margin-bottom: 1em;
}
#homelink, #homelinkbanner {
    text-decoration: none;
}
#homelink {
    z-index: 9999;
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 3em;
    text-decoration: none;
    color: #016495;
}
.contact-content {
    width: 20%;
    margin-left: 40%;
}
#contact {
    width: 90vw;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

/***************************/
/* mobile
/***************************/
@media screen and (max-width: 450px){
    .flex {
        flex-direction: column !important;
    }
    .logo {
        width: 100% !important;
    }
    aside {
        display: none;
    }
    .content {
        max-width: initial;
    }

    textarea {
        width: 80vw;
    }
    .contact-content {
    width: 50%;
    margin-left: 0;
    }
    #contact {
        width: 100vw;
        text-align: left;
        padding-top: 20px;
        padding-left: 20px;
    }
    .banner-logo {
        width: 50vw;
        margin-top: 15vh;
    }
    .banner {
        height: 50vh;
        margin: 0;
        width: 100vw;
    }
    .home {
        padding-top: 10vh;
        width: 80vw;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .home-section {
        width: 100%;
        margin:0;
    }
}
@media screen and (max-width: 800px) {
    .post .post-image {
        width: calc(100% + 32px);
        margin-left: -16px;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    .logo {
        width: 100%;
    }
    .content {
        max-width: calc(960px - 300px);
    }

    table { width: 100%; }
    .site {
        max-width: 48em;
        padding: 0px;
        font-size: 16px;
        border: 1px solid #A6A094;
        box-shadow: none;
    }
    .site img {
        width: 100%;
        border: none;
        margin: 0px;
    }
    #home, #post {
        padding-right: 2em;
    }
    #home img, {
        width: initial;
    }
    .fullbody img, {
        width: initial;
    }
    .fullbody {
        line-height: 2em;
    }
    #post img {
        width: 100%;
        margin: 0px;
    }
    h2 {
        margin-top: .5em;
        margin-bottom: .3em;
        width: 100%;
        font-size: 24px;
    }
    #related {
        margin-right: 1em;
        margin-left: 1em;
    }
    ul.posts li {
    padding-bottom: .2em;
    }

    ul.posts {
        padding-left: .5em;
    }
    strong.mobileShowLine {
        font-weight: inherit;
        display: initial;
    }
    #error {        
        width: calc(300px - 60px);
        margin: -50px calc(50vw - 150px - 15px);
        padding: 30px;
    }
}

@media screen and (min-width: 800px) {
    .post .post-image {
        width: 100% !important;
        margin-left: 0 auto !important;
    }
    #error {        
        width: calc(30vw);
        margin: -150px 26vw;
        padding: 5vw;
    }
    .flex {
        display: flex;
        flex-direction: row;
    }
    .logo {
        width: 100%;
    }
}

.content {
    text-align: left;
    padding: 16px;
    width: calc(100% - 32px);
    min-height: calc(100vh - 32px);
    margin: 0 auto;
}
.content a {
    color: #17263F;
}

aside {
    background-color: #172740;
    padding: 55px 16px;
    width: 300px;
    min-height: calc(100vh - 110px);
    text-align: left;
}
aside h4 { 
    color: white;
    font-weight: 600;
    margin-top: 5em;
}
aside ul {
    color: white;
    font-size: 14px;
    font-weight: 300;
}
aside ul li a { text-decoration: none; display: block; }
aside ul li a:hover { text-decoration: underline; }

/***************************/
/*********** POST **********/
/***************************/
.post {
    max-width: 768px;
}
.post h1 {
    margin-top: 3em;
}
.post .post-image {
    max-width: 480px;
    filter: contrast(1.1);
}
.post small { 
    opacity: .65;
    border-left: 2px solid #016495;
    padding-left: 8px;
}
.post .highlight { color: #4b93b8; }