@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400');
/***************************/
/* Common
/***************************/
/* Global Reset */

         * {
             margin: 0;
             padding: 0;
         }

         html,
         body {
             height: 100%;
             max-width: 100%;
         }

         body {
             color: #666666;
             font: 14px 'Ubuntu', Arial, Helvetica, sans-serif;
             text-align: center;
             background-color: #eaedef;
             line-height: 1.5em;
         }

         h3 {
             color: #17263F;
             font-size: 100%;
             font-weight: 300;
         }

         h1,
         h2,
         h4,
         h5,
         h6 {
             color: #4b93b8;
             font-size: 100%;
             font-weight: 300;
         }

         h1 {
             margin-bottom: .5em;
             padding-top: 0.25em;
             padding-bottom: 0.4em;
             width: 100%;
             font-size: 200%;
         }

         h2 {
             margin-top: .5em;
             margin-bottom: .3em;
             width: 100%;
             font-size: 165%;
         }

         #contact h2 {
             color: #17263F;
         }

         p {
             margin: 1em 0;
             font-weight: 300;
         }

         a {
             color: #016495;
             font-weight: 200%;
         }

         .project-name {
             font-size: 16px;
             font-weight: bold;
         }

         .project-description {
             margin-left: 1em;
             margin-bottom: 1em;
         }

         .member {
             height: 30px;
             width: 30px;
         }

         a:visited {
             color: #016495;
         }

         table {
             font-size: inherit;
             font: 100%;
         }

         img {
             max-width: 500px;
             border: none;
         }
         /***************************/
         /* Home
/***************************/

         .home {
             padding-top: 10vh;
             width: 90vw;
             position: relative;
             display: flex;
             flex-direction: row;
             justify-content: center;
             margin-left: 5vw;
             margin-right: 5vw;
         }

         .home-section {
             color: #252525;
             display: flex;
             flex-direction: column;
             /* width: 30%; */
             position: relative;
             margin: 10px;
         }

         .home-section.side .home-section-part {
            width: 300px;
         }

         .home-section-part {
             position: relative;
             background-color: #fff;
             margin-top: 10px;
             margin-bottom: 10px;
         }
         
         .home-section-part:hover {            
            box-shadow: 0 0 10px 0px rgba(0, 0, 0, .20)
        }

         .home-section-content {
             padding: 20px 30px;
             text-align: left;
             overflow: hidden;
         }        

         .home-section-content h2 {
            margin-left: 80px;
            font-weight: 300;
            padding-bottom: 10px;
            margin-bottom: 40px;
            border-bottom: 1px solid #eaedef;
         }

         .home-section-content i {
            font-size: 72px;
            width: 72px;
            color: #4b93b8;
            position: absolute;
            top: 20px;
            left: 30px;
        }
        .home-section-content img.icon-instagram {
            height: 60px;
            width: 60px;
            background-size: contain;
            position: absolute;
            top: 20px;
            left: 30px;
        }

         ul.posts {
             list-style-type: none;
             margin-bottom: 1.2em;
         }

         .mc-field-group {
             padding-left: 1em;
         }

         ul.posts span {
             font-size: 80%;
             font-weight: 700;
             background-color: #EDF3F3;
             color: #D4CBAA;
             padding: .2em .5em .2em .5em;
             border-radius: 2px;
         }
		 
         /***************************/
         /* Site
/***************************/

         .site {
             font-size: 110%;
             text-align: justify;
             max-width: 32em;
             margin: auto;
             margin-top: 1em;
             margin-bottom: 1.5em;
             background-color: #B7C1C0;
             padding: 1.3em;
             border: 1px solid #A6A094;
         }

         .title {
             color: #a00;
             font-weight: bold;
             margin-bottom: 2em;
         }

         .site .title a {
             color: #a00;
             text-decoration: none;
         }

         .site .title a:hover {
             color: black;
         }

         .site .title a.extra {
             color: #aaa;
             text-decoration: none;
             margin-left: 1em;
         }

         .site .title a.extra:hover {
             color: black;
         }

         .site .meta {
             color: #aaa;
         }

         .site .footer {
             font-size: 80%;
             color: #666;
             border-top: 4px solid #eee;
             margin-top: 2em;
             overflow: hidden;
         }

         .site .footer .contact {
             float: left;
             margin-right: 3em;
         }

         .site .footer .contact a {
             color: #8085C1;
         }

         .site .footer .rss {
             margin-top: 1.1em;
             margin-right: -.2em;
             float: right;
         }

         .site .footer .rss img {
             border: 0;
         }
         /***************************/
         /* Posts
/***************************/
         /* standard */

         #post pre {
             border: 1px solid #ddd;
             background-color: #eef;
             padding: 0 .4em;
         }

         #post ul,
         #post ol {
             margin-left: 1.35em;
         }

         #post code {
             border: 1px solid #ddd;
             background-color: #eef;
             font-size: 85%;
             padding: 0 .2em;
         }

         #post pre code {
             border: none;
         }
         /* terminal */

         #post pre.terminal {
             border: 1px solid black;
             background-color: #333;
         }

         #post pre.terminal code {
             background-color: #333;
         }

         #related {
             margin-top: 2em;
         }

         #related h2 {
             margin-bottom: 1em;
         }

         #homelink,
         #homelinkbanner {
             text-decoration: none;
         }

         #homelink {
             position: absolute;
             top: 0;
             margin-top: 50px;
             left: 0;
             margin-left: 50px;
             font-size: 100%;
             padding: .2em .5em .2em .5em;
             border-radius: 5px;
             text-decoration: none;
         }

         #homelink img {
             width: 100px;
         }

         .contact-content {
             width: 20%;
             margin-left: 40%;
         }

         #contact {
             width: 100vw;
             text-align: center;
             padding-top: 20px;
             display: flex;
             flex-direction: column;
         }

         .memberwrapper {
             display: grid;
             grid-template-columns: auto auto auto auto;
             grid-gap: 5px 0px;
             text-align: center; 
			 
         }

         .memberwrapper div {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-content: center;
			 width: 100%;
         }

         .memberwrapper div a {
             display: inline-block;
             width: 53px;
             margin: 0 5px;
             
         }
		 .memberwrapper div img {
             display: inline-block;
			 width: 100%;
             
         }
		 
		 #instafeed img{
            width: calc(20% - 10px);
            margin: 2.5px 5px;
            height: auto;
		 }
         
        /*******************
        ****   MOBILE   ****
        *******************/

        @media screen and (max-width: 960px) {
            .banner-logo {
                width: 80%;
            }
            
            .home,
            #home {
                width: 100%;
                margin: 0;
                display: block;
            }

            .home-section {
                margin: 5px 10px;
            }

            .home-section-part {
                margin-top: 5px;
                margin-bottom: 5px;
            }

            .home-section.side .home-section-part {
                width: 100%;
            }

            .memberwrapper div a {
                width: 80%;
                height: 80%;
                margin: auto;
            }
        }

        /*******************
        ****    FORM    ****
        *******************/

         .contactformbutton {
             background-color: #a6a094;
             /* taint */
             border: none;
             color: white;
             padding: 15px 32px;
             text-align: center;
             text-decoration: none;
             display: inline-block;
             font-size: 16px;
         }

        /*******************
        ****   CANVAS   ****
        *******************/

         #c {
             width: 100%;
             height: 100vh;
             position: absolute;
             left: 0;
             top: 0;
         }

         .banner {
             /* background: url(https://i.imgur.com/wGsaZAf.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;*/
             height: 75vh;
             width: 98vw;
             position: relative;
             margin: 0 auto;
             -webkit-user-select: none;
             /* Chrome all / Safari all */
             -moz-user-select: none;
             /* Firefox all */
             -ms-user-select: none;
             /* IE 10+ */
             user-select: none;
         }

         .banner-logo {
             position: relative;
             margin-left: 0;
             margin-right: 0;
             z-index: 100;
             top: calc(50vh - 100px);
         }
