---
layout: default
title: Lab9K
---

<div id="home" class="home"> 
	<div class="home-section">
		<div class="home-section-part">
			<div class="home-section-content">
			    <h2>What?</h2>
				<p>“<em>Without smart people, there are no smart cities.</em>”</p>
				<p>We need people to help us cultivate the smartness of our beloved city. 
				So we're calling upon all thinkers, dreamers, builders, designers, coders, pixelpushers, solder artists, data refiners.</p>
				
				<p>community is the basis upon which innovation is built.</p>

				<p>We give these people shared infrastructure they can use to share and exchange ideas 	because </p>
				<p>Good ideas need to be built before they can be tested, building takes time and effort
				Lab9k will secure funding to compensate the hard work done by the participants.
				At the moment, we're looking for students to work for us, since studentcontracts are flexible
				enough to support this model.</p>
			</div>
			<div class="home-section-part">
				<div class="home-section-content">
				    <h2>Members</h2>
					{% for member in site.members %}
	      				<p><a href="{{ member.url }}"><strong>{{ member.title }}</strong></a></p>
	    			{% endfor %}
				</div>
			</div>
		</div>
	</div>
	
	<div class="home-section">
		<div class="home-section-part">
			<div class="home-section-content">
			    <h2>Focus</h2>
				<p>In 2017 we'll dedicate ourselves to Ethereum, Blockchain and IoT</p>
			</div>
		</div>
		<div class="home-section-part">
			<div class="home-section-content">
			    <h2>Who?</h2>
				<p>Lab9K is an initiative of <a href="https://www.digipolis.gent">Digipolis</a>.
				We manage, buy or build all IT-projects of the City of Ghent.</p>
			</div>
		</div>
		<div class="home-section-part">
			<div class="home-section-content">
		    	<h2>Where?</h2>
				<p>First floor at the Nest in Ghent.</p>
			</div>
		</div>
		<div class="home-section-part">
			<div class="home-section-content">
		    	<h2>Projects</h2>
		    	{% for post in site.posts %}
      				<p><a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>: {{ post.description }}</p>
    			{% endfor %}
				<!-- <p>Soupcoin: A decentralized currency - using Ethereum - for the employees of Digipolis. Coins never tasted better!</p>
				<p>ChatbotGF: Chatbot for the Gentse Feesten.</p>	 -->
			</div>
		</div>
	</div>

	<div class="home-section">
		<div class="home-section-part">
			<div class="home-section-content">
			    <h2>TODO:</h2>
				<li>Find cool people. Hit us up, see below.<strong>Still a few ppl needed.</strong></li>
				<li><strike>Secure the space</strike> <a href="http://nest.gent/">Small office in Nest</a></li>
				<li><strike>Set-up servers/services</strike> Let's go serverless and decentralised.</li>
			</div>
		</div>
	
		<div class="home-section-part">
			<div class="home-section-content">
			    <h2>Stay Informed</h2>
			    <ul class="posts">
			        <li><a href="list/">Hop on the mailinglist!</a>
			            <br/>Events will be announced on the list first. </li>
			    </ul>
		    </div>
	    </div>

	    <div class="home-section-part">
	    	<div class="home-section-content">
				<h2>Contact</h2>
				<ul class="posts">
					<li>Use the <a href="/contact">contact form</a><strong class="mobileShowLine"> or send something to <a href="mailto:&#104;&#97;&#110;&#115;&#46;&#102;&#114;&#97;&#105;&#112;&#111;&#110;&#116;&#115;&#64;&#100;&#105;&#103;&#105;&#112;&#111;&#108;&#105;&#115;&#46;&#103;&#101;&#110;&#116;">my mailbox</a></strong>.</li>
				</ul>
			</div>
		</div> 
	</div>
</div>
