<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
   
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                families: ['Open+Sans+Condensed:300,700:latin', 'Open+Sans:400,400italic,700:latin',
                    'Source+Code+Pro:700:latin'
                ]
            }
        });
    </script>
    <script>
        if (window.location.host.substr(-10) == '.github.io' && window.location.protocol != 'https:') {
            window.location.protocol = 'https:';
        }
    </script>
    <script type="text/javascript" src="/instafeed.min.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="HansF" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Homepage CSS -->

    <meta name=viewport content="width=device-width, initial-scale=1"> {% feed_meta %}
</head>

<body>
    <!--
		Looking at my code?
		My <body> no less?
		Please do!
		I'm a dirty little website.
		
		Srsly: get in touch, we *NEED* you.
	-->
    <div class="banner">
        <!--<div><img class="banner-logo" src="http://i.imgur.com/eDGCAfO.png"></div>-->
        <canvas id="c"></canvas>
        <img class="banner-logo" src="https://i.imgur.com/eDGCAfO.png">
    </div>

    <!--<div class="site">-->
    <!--<a href="{{site.url}}" id="homelinkbanner"><img src="http://i.imgur.com/zmz4bCm.png" alt="header image of laptop with stickers"></a>-->
    {{ content }}
	
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86297842-1', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- <script type="text/javascript">
	    var feed = new Instafeed({
		get: 'tagged',
		tagName: 'WHPtalentshow',
		clientId: "0b3d436d305a4b77b0f620ac2e887ed7",
		template: '<a class="animation" href="{{link}}"><img src="{{image}}" /></a>'
	    });
	    feed.run();
    </script> -->
	
    <script>
        var canvas = document.getElementById("c");
        var ctx = canvas.getContext("2d");
        var W = window.innerWidth;
        var H = window.innerHeight;
        canvas.width = W;
        canvas.height = H;
	    
        var drawing = {
            generalVelocity: 0.3,
            minRadiusDot: 1,
            maxRadiusDot: 3,
            bounce: true,
            connectDistance: 250,
            /*noOfDots: W * H / (150 * 150), // average of 1 dot per 150*150 px*/
            noOfDots:60,
            lineWidth: 1
        };
	
        window.requestAnimFrame = (function () {
            return window.requestAnimationFrame ||
                window.webkitRequestAnimationFrame ||
                window.mozRequestAnimationFrame ||
                function (callback) {
                    window.setTimeout(callback, 1000 / 60);
                };
        })();

	    
        function random(min, max) {
            if (min > max) {
                min = [max, max = min][0];
            }
            return Math.random() * (max - min + 1) + min;
        }

        function round(x) {
            return Math.round(x);
        }


        function drawBackground() {
            ctx.beginPath();
            ctx.rect(0, 0, W, H);
            ctx.fillStyle = "#eaedef";
            ctx.fill();
        }


        function distance(dotA, dotB) {
            var diffX = dotA.x - dotB.x;
            var diffY = dotA.y - dotB.y;
            return Math.sqrt(diffX * diffX + diffY * diffY);
        }

        function line(dotA, dotB) {
            var grad = ctx.createLinearGradient(dotA.x, dotA.y, dotB.x, dotB.y);
            grad.addColorStop(0, dotA.color);
            grad.addColorStop(1, dotB.color);
            ctx.strokeStyle = grad;
            ctx.lineWidth = drawing.lineWidth;
            ctx.lineCap = "round";
            ctx.beginPath();
            ctx.moveTo(dotA.x, dotA.y);
            ctx.lineTo(dotB.x, dotB.y);
            ctx.stroke();
        }

        function Dot() {
            this.r = random(drawing.minRadiusDot, drawing.maxRadiusDot);
            this.vx = random(-3, 3);
            this.vy = random(-3, 3);
            this.x = random(0, W);
            this.y = random(0, H);
            this.color = "rgb(" + [round(random(100, 230)), round(random(100, 230)), round(random(100, 230))].join() +
                ")";

            this.update = function () {
                this.x += this.vx * drawing.generalVelocity;
                this.y += this.vy * drawing.generalVelocity;
                if (drawing.bounce) {
                    if (this.x > W) this.vx *= -1.0; //this.x-=W
                    if (this.y > H) this.vy *= -1.0; //this.y-=H
                    if (this.x < 0) this.vx *= -1.0; //this.x+=W
                    if (this.y < 0) this.vy *= -1.0; //this.y+=H	
                } else {
                    if (this.x > W) this.x -= W;
                    if (this.y > H) this.y -= H;
                    if (this.x < 0) this.x += W;
                    if (this.y < 0) this.y += H;
                }

            };
            this.draw = function () {
                ctx.fillStyle = this.color;
                ctx.beginPath();
                ctx.arc(this.x, this.y, this.r, 0, 2 * Math.PI);
                ctx.fill();
            };
            this.connect = function (i) {
                for (var j = i; j < dots.length; j++) {
                    if (distance(this, dots[j]) < drawing.connectDistance) {
                        line(this, dots[j]);
                    }
                }
            };
        }

        function createDots() {
            dots = [];
            for (var i = 0; i < drawing.noOfDots; i++) {
                dots.push(new Dot());
            }
        }

        function draw() {
            drawBackground();

            dots.forEach(function (dot) {
                dot.update();
            });
            dots.forEach(function (dot) {
                dot.draw();
            });
            dots.forEach(function (dot, i) {
                dot.connect(i);
            });

            requestAnimFrame(draw);
        }

        var dots = [];
        createDots();
        draw();

        window.onresize = function () {
	 
            W = window.innerWidth;
            H = window.innerHeight;
            canvas.width = W;
            canvas.height = H;
        }
    </script>
</body>

</html>
